body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Montseerat;
    font-size:15px;
    overflow:hidden;
}
.container{
    margin:0 15%;
}
header{
    height: 100px;
    line-height: 100px;
}
header ul{
    display:inline;
}
header ul li{
    text-transform:capitalize;
    display:inline;
    margin-left:10px;
}
header ul li a{
    text-decoration:none;
    color:#FFF;
    text-transform:uppercase;
}
.main{
    display:flex;
    justify-content: space-between;
}
.main-content{
    color:#FFF;
}
.actions{
    margin-top:20px;
    transform:translateX(20%);
}
.btn{
    border-radius:25px;
    border-color:#FFF;
    padding:10px;
    width:150px;
}
.main-content .actions .btn a{
    text-decoration:none;
    color:black;
}
.main:hover{
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-around !important;
}
